/* custom sytles */

body{background:url(../images/bg.png) no-repeat;background-size:100%;}
.row-fluid{margin-top: 50px;}
.menu .nav-pills > li > a{background: white;}
.menu .nav > li > a{padding:4px 24px;}
.menu .nav li a{color:black;}
.menu .nav-pills > li + li {margin-left: 8px;}
.span7 img{width:508px;}
.span7{margin-top:50px;}
.glass{width:78.5%;background: rgba(0,0,0,.4);padding: 10px;margin-top: 10px;}
.glass h3{color:white;font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;}
.below-glass{margin-top:15%;}
.below-glass section{padding:8px;}
.below-glass section + section{margin-left:5% !important;}
.below-glass section:first-child p{font-size:9px;}
.app{background:rgba(0,0,0,.4);height:70px;color:white;}
.app > span{font-size: 50px;padding: 6px;}
.app h4 span{display: block;font-size: 28px;}
.app h4 {padding-top:9px;}
.app down{padding:10px 0 0 0px;} 